<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header-mat"/>
<body roleId="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<head th:replace="common/header :: navbar-mat"/>
<div class="container">
    <div class="main-login main-center">
        <h3 class="title center-align">Deposit</h3>
        <hr/>
        <div class="row">
            <div class="z-depth-1" style="display: inline-block; background: white; padding: 32px 48px 0px 48px;  border: 3px solid #9fe4f2;">
                <form th:action="@{/account/deposit}" method="post">
                    <div class="row">
                        <div class="input-field col s12">
                            <select class="validate" id="accountType" name="accountType" th:value="${accountType}">
                                <option disabled="disabled" selected="selected"> -- select your account --</option>
                                <option>Primary</option>
                                <option>Savings</option>
                            </select>
                            <label>1. Please select the account type you would like to deposit to:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" class="validate" id="amount" name="amount" th:value="${amount}"/>
                            <label class="active" for="amount">2. Specify the amount you want to deposit:</label>
                        </div>
                    </div>

                    <input type="hidden"
                           name="${_csrf.parameterName}"
                           value="${_csrf.token}"/>

                    <div class="row">
                        <div class="input-field col s6">
                            <button class="btn btn-large btn-register waves-effect waves-light" type="submit" name="action">Deposit
                                <i class="material-icons right">done</i>
                            </button>
                        </div>
                        <div class="input-field col s6">
                            <a class="btn btn-large waves-effect waves-light red darken-4" th:href="@{/userFront}">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:replace="common/header :: body-bottom-scripts-mat"/>

</body>
</html>