
*#
*.iml
*.ipr
*.iws
*.jar
*.sw?
*~
.#*
.*.md.hotml
.DS_Store
.classpath
.factorypath
.gradle
.idea
.metadata
.project
.recommenders
.settings
.springBeans
bank-backend/build
bookstore/code
MANIFEST.MF
_site/
activemq-data
bank-backend/bin
bank-backend/build
bank-backend/build.log
bank-backend/dependency-reduced-pom.xml
dump.rdb
interpolated*.xml
lib/
bank-backend/manifest.yml
overridedb.*
settings.xml
bank-backend/target
transaction-logs
.flattened-pom.xml
secrets.yml


#store-front
bank-frontend/build/
bank-frontend/benchpress-build/
bank-frontend/.DS_Store
bank-frontend/gen_docs.disable
bank-frontend/test.disable
bank-frontend/regression/temp*.html
bank-frontend/performance/temp*.html
bank-frontend.idea/workspace.xml
bank-frontend/angular.js.tmproj
bank-frontend/node_modules/
bank-frontend/bower_components/
bank-frontend/angular.xcodeproj
bank-frontend/libpeerconnection.log
bank-frontend/npm-debug.log
bank-frontend/tmp/
bank-frontend/scripts/bower/bower-*
.vscode
*.log
*.stackdump
.idea
*.iml
.agignore
.lvimrc
*~
*.swp