<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header-mat"/>
<body>
<img class="responsive-img" th:src="@{/images/banner.png}" alt="banner"/>
<div class="container">
    <div class="row ">
        <div class="main-center">
            <div class="z-depth-1 white" style="display: inline-block; background: white; padding: 32px 48px 0px 48px; border: 3px solid #9fe4f2;">
                <div class="card-content">
                    <div class="center-align">
                        <h3 class="center-align">Forgot Password?</h3>
                        <p>Enter your e-mail address and we'll send you a link to reset your password.</p>
                        <div class="card-content">
                            <div id="card-error" class="card red" th:if="${param.error}">
                                <div class="card-context white-text">
                                    <p>Invalid username and secret.</p>
                                </div>
                            </div>
                            <div id="card-logout" class="card red" th:if="${param.logout}">
                                <div class="card-context white-text">
                                    <p>You have been logged out.</p>
                                </div>
                            </div>
                            <form th:action="@{/forgot-password}" th:object="${forgotPasswordForm}" method="post">
                                <div class='row'>
                                    <div class='input-field col s12' th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
                                        <input id="email" class='validate' placeholder="Email Address" th:field="*{email}" roleId="username"/>
                                        <label class="active" for='email'>Enter your email</label>
                                    </div>
                                    <p class="error-message"
                                       th:each="error : ${#fields.errors('email')}"
                                       th:text="${error}">Validation error</p>
                                </div>
                                <div class='row'>
                                    <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect indigo'>Reset Password</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section"></div>
            <div class="row">
                <div class="col s5 offset-s3">
                    New user? <a th:href="@{/signup}">Register</a>
                </div>
            </div>
            <div class="row">
                <div class="col s7 offset-s3">
                    Already registered? <a href="/" th:href="@{/index}">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="common/header :: body-bottom-scripts-mat"/>

</body>
</html>