<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header-mat"/>
<body roleId="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<head th:replace="common/header :: navbar-mat"/>
<div class="container">
    <div class="row">
        <div class="col l12">
        </div>
    </div>
    <div class="row">
        <div class="col l6 m6">
        </div>
        <div class="col l6 m6">
            <div class="card grey lighten-4">
                <div class="card-content blue-text text-darken-2">
                    <div class="row">
                        <div class="col s6">
                            <h2>Savings Balance: </h2>
                        </div>
                        <div class="blue-text text-darken-2 col s6 right-align">
                            <h2><span th:text="AP + ' ' + ${savingsAccount.accountBalance}">...</span></h2>
                        </div>
                    </div>
                </div>
                <div class="card-action">
                    <span class="blue-text text-darken-2 pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="responsive-table" th:unless="${#lists.isEmpty(savingsTransactionList)}">
        <table id="example" class="highlight striped bordered">
            <thead>
            <tr>
                <th>Post Date</th>
                <th>Description</th>
                <th>Type</th>
                <th>Status</th>
                <th>Amount</th>
                <th>Available Balance</th>
            </tr>
            </thead>
            <tbody>
            <tr data-th-each="savingsTransaction : ${savingsTransactionList}">
                <td data-th-text="${savingsTransaction.date}">...</td>
                <td data-th-text="${savingsTransaction.description}">...</td>
                <td data-th-text="${savingsTransaction.type}">...</td>
                <td data-th-text="${savingsTransaction.status}">...</td>
                <td data-th-text="${savingsTransaction.amount}">...</td>
                <td data-th-text="${savingsTransaction.availableBalance}">...</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="common/header :: body-bottom-scripts-mat"/>

</body>
</html>